.react-datepicker-popper[data-placement^=top] .react-datepicker__triangle, .react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle{
  margin-left: -12px
}
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item{
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected, 
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected:hover,
.react-datepicker__day--selected, 
.react-datepicker__day--selected:hover, 
.react-datepicker__day--in-selecting-range, 
.react-datepicker__day--in-selecting-range:hover, 
.react-datepicker__day--in-range, 
.react-datepicker__day--in-range:hover, 
.react-datepicker__month-text--selected, 
.react-datepicker__month-text--selected:hover, 
.react-datepicker__month-text--in-selecting-range, 
.react-datepicker__month-text--in-selecting-range:hover, 
.react-datepicker__month-text--in-range, 
.react-datepicker__month-text--in-range:hover, 
.react-datepicker__quarter-text--selected, 
.react-datepicker__quarter-text--selected:hover, 
.react-datepicker__quarter-text--in-selecting-range, 
.react-datepicker__quarter-text--in-selecting-range:hover, 
.react-datepicker__quarter-text--in-range, 
.react-datepicker__quarter-text--in-range:hover, 
.react-datepicker__year-text--selected, 
.react-datepicker__year-text--selected:hover, 
.react-datepicker__year-text--in-selecting-range, 
.react-datepicker__year-text--in-selecting-range:hover, 
.react-datepicker__year-text--in-range, 
.react-datepicker__year-text--in-range:hover {
  background-color: #F26B21;
}