@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
	outline-color: #F26B21;
}
body {
	padding: 0;
	margin: 0;
	font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
	font-weight: normal;
	line-height: 1;
	color: #0a0a0a;
	background: #fefefe;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6,
label,
p,
span,
a,
button,
input {
	line-height: 1;
	font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
}
